@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #f8fafc; /* A very light gray, almost white */
  /* Add a dot pattern using radial gradients */
  background-image: radial-gradient(circle, #e0e7ff 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 20px 20px;
}
.logo-gradient {
  background-image: linear-gradient(to right, #8b5cf6, #c084fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  transition: all 0.3s ease;
}
.card {
  padding: 30px;
  gap: 15px;
  background-color: white;
  width: 320px;
  min-height: 200px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.068);
  transition: all 0.3s ease;
  border: 1px solid rgba(209, 213, 219, 0.5); /* Gray-300 with 50% opacity */
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px) scale(1.02);
  border-color: #8b5cf6; /* Purple-600 */
}

.cardTitle {
  font-size: 25px;
  font-weight: 700;
}

.cardDescription {
  font-size: 16px;
  color: #6b7280; /* Gray-500 */
  margin-top: 10px;
}

.textarea_home {
  height: 80px;
}

.loader {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  /* display: none; */
}

.custom-spinner {
  animation: rotate 1s linear infinite;
  vertical-align: middle;
}
.custom-spinner .path {
  stroke: #fff;
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
}
.homeLoader .path {
  stroke: #8b5cf6; /* Purple-600 */
  stroke-width: 4;
}
.mainLoadingContainer {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.modalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.focus-ring-purple:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-color: #8b5cf6;
  box-shadow: 0 0 0 2px var(--tw-ring-color);
}

.endpointLoader .path{
  stroke-width: 3;
  stroke: #8b5cf6; /* Purple-600 */
}
